<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/utils.css">
</head>

<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-light fw-bolder" href="#">iBlog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <div class="togglers bg-light"></div>
                    <div class="togglers bg-light"></div>
                    <div class="togglers bg-light"></div>
                </button>
            </div>
        </nav>
    </header>
    <div class="content w-60 w-mm-90 mx-auto">
        <div class="steps w-100 text-center mt-4">
            <span class="fs-5">Step {{step}}/4</span>
        </div>
        <div class="timer w-50 w-mm-100 mx-auto d-flex flex-column">
            <p class="w-100 fw-bolder m-0 text-center fs-2">Please Wait...</p>
            <div class="time w-100 d-flex justify-content-center">
                <p
                    class="fs-3 fw-bolder timing rounded-circle wr-6 hr-6 d-flex justify-content-center align-items-center my-0">
                </p>
            </div>
            <p class="d-none scroll-info text-center">Scroll down & click on <span
                    class="text-primary fw-bolder">Continue</span> button for your destination
                link</p>
        </div>
        <h1 class="my-3">How to make a facebook page to earn money by online from home</h1>
        <p class="text-mm-cente"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nemo voluptates
            rerum
        <div class="ad w-100  mx-auto">

        </div>
        molestiae nulla maiores ut at, magnam quas odio iste debitis officia nihil veritatis porro earum assumenda
        <div class="ad w-100  mx-auto">

        </div>
        commodi laboriosam ipsum explicabo corporis, blanditiis excepturi quos animi. Dignissimos ad rerum quibusdam
        ut quidem aspernatur numquam omnis sunt autem incidunt magnam maxime itaque corrupti alias quos, distinctio
        impedit id repellat tempore quisquam rem obcaecati, at hic! Quas non eum officia laboriosam neque corporis,
        <div class="ad w-100  mx-auto">

        </div>
        porro doloremque debitis est facilis esse consequatur quod, perspiciatis iure maxime repudiandae
        <div class="ad w-100  mx-auto">

        </div>
        consectetur, pariatur labore magni molestias! Nemo, sunt ipsum? Non, quasi ullam illo corporis ratione eum
        culpa eligendi natus consequatur perspiciatis quam, ipsa delectus numquam beatae harum itaque! Nesciunt
        fugiat ab labore debitis iste odio quisquam placeat accusamus tempore eaque suscipit et, provident soluta
        <div class="ad w-100  mx-auto">

        </div>
        assumenda possimus cumque quasi id eos. Maiores eos eum tempore quia corporis sequi fugit error.
        Reprehenderit perferendis qui quibusdam velit tempora maiores autem atque aliquid debitis, id excepturi
        <div class="ad w-100  mx-auto">

        </div>
        perspiciatis mollitia rem sapiente vel non illum facilis ullam voluptatibus obcaecati. Harum nesciunt nemo
        assumenda veniam corrupti odio dolore placeat, itaque cum adipisci, excepturi eaque optio ratione inventore
        <div class="ad w-100  mx-auto">

        </div>
        recusandae illo deleniti culpa laborum accusamus porro suscipit incidunt atque. Ipsum repellendus
        <div class="ad w-100  mx-auto">

        </div>
        repudiandae laudantium, id distinctio optio vel non facilis nostrum. Ut sint dolorum temporibus blanditiis
        ipsa eius aperiam, voluptates impedit aut vel. Quo eius vel porro iusto nemo laudantium unde quisquam, aut
        <div class="ad w-100  mx-auto">

        </div>fs
        qui atque aliquam quia iure id repudiandae magnam labore! Ducimus porro vero eligendi voluptas doloribus
        pariatur repudiandae harum officia sit, eum tempore error et neque tempora dolore. Natus, aspernatur dolore
        <div class="ad w-100  mx-auto">

        </div>
        placeat nihil provident quia rem sequi? Culpa magnam sapiente vitae, tempore hic ad dignissimos sunt
        mollitia suscipit eius alias autem, eos iste veniam eveniet laudantium? Veritatis porro, explicabo excepturi
        incidunt architecto magni aliquam, soluta odit ad tempore dolores accusantium minima perspiciatis ducimus?
        Illo, mollitia.</p>
        <div class="continue-btn d-none w-100 text-center my-2">
            <a href="{{link}}" class="btn bg-primary rounded-5 text-light">Continue</a>
        </div>
    </div>
    <footer class="bg-dark text-center py-3">
        <p class="text-light my-0">Copyright &copy; All Rights Reserved</p>
    </footer>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</body>

</html>