<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar and sidebar</title>
    <link rel="stylesheet" href="/static/interstorex/css/style.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>

<body class="" >
    <header>
        <div id="barbtn" onclick="sidemenuopenandclose()">
            <div class="barbtns"></div>
            <div class="barbtns"></div>
            <div class="barbtns"></div>
        </div>
        <img id='icon' src="img_avatar.png" alt="">
    </header>
    <div id="sidebar">
        <ul>
            <li class="sidebar-items">Product one</li>
            <li class="sidebar-items">Product one</li>
            <li class="sidebar-items">Product one</li>
            <li class="sidebar-items">Product one</li>
            <li class="sidebar-items">Product one</li>
            <li class="sidebar-items">Product one</li>
            <li class="sidebar-items">Product one</li>
            <li class="sidebar-items">Product one</li>
        </ul>
    </div>
    <div class="items">
        <div class="item">
            <div class="main-items">
                <div class="logos">
                    <img class="logo" src="/static/multisell/media/032-gauge.png" alt="Logo">
                </div>
                <div class="ti-and-des">
                    <div class="title">Best freefire id at low cost</div>
                    <div class="desc">
                        i want to sell my freefire id beacuse i need money urgently, in my id have 
                    </div>
                    <div class="speci">
                        <div class="season">From Season : 34</div>
                        <div class="price">Price : 30000₹</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-items">
                <div class="logos">
                    <img class="logo" src="/static/multisell/media/032-gauge.png" alt="Logo">
                </div>
                <div class="ti-and-des">
                    <div class="title">Best freefire id at low cost</div>
                    <div class="desc">
                        i want to sell my freefire id beacuse i need money urgently, in my id have 
                    </div>
                    <div class="speci">
                        <div class="season">From Season : 34</div>
                        <div class="price">Price : 30000₹</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-items">
                <div class="logos">
                    <img class="logo" src="/static/multisell/media/032-gauge.png" alt="Logo">
                </div>
                <div class="ti-and-des">
                    <div class="title">Best freefire id at low cost</div>
                    <div class="desc">
                        i want to sell my freefire id beacuse i need money urgently, in my id have 
                    </div>
                    <div class="speci">
                        <div class="season">From Season : 34</div>
                        <div class="price">Price : 30000₹</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-items">
                <div class="logos">
                    <img class="logo" src="/static/multisell/media/032-gauge.png" alt="Logo">
                </div>
                <div class="ti-and-des">
                    <div class="title">Best freefire id at low cost</div>
                    <div class="desc">
                        i want to sell my freefire id beacuse i need money urgently, in my id have 
                    </div>
                    <div class="speci">
                        <div class="season">From Season : 34</div>
                        <div class="price">Price : 30000₹</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-items">
                <div class="logos">
                    <img class="logo" src="/static/multisell/media/032-gauge.png" alt="Logo">
                </div>
                <div class="ti-and-des">
                    <div class="title">Best freefire id at low cost</div>
                    <div class="desc">
                        i want to sell my freefire id beacuse i need money urgently, in my id have 
                    </div>
                    <div class="speci">
                        <div class="season">From Season : 34</div>
                        <div class="price">Price : 30000₹</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/interstorex/script/home.js"></script>
</body>

</html>