<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/utils.css">
</head>

<body>
    <header>
        <nav>
            <h2>Dot</h2>
            <ul>
            <li><a class="text-black" href="/templates/index.html">HOME </a></li>
            <li><a class="text-black" href="/templates/faq.html">FAQ </a></li>
            <li><a class="text-black" href="/templates/contact.html">CONTACT </a></li>
            <li><a class="text-black" href="/">INNER PAGE </a></li>
            </ul>
        </nav>
        <div class="overlay m-auto">
            <h1 class="m-top-d">Support Center & Knowledge base</h1>
            <p class="about-info m-top">Find advice and answers from our support team fast or get in touch</p>
            <input type="text" class="search m-top m-bottom-t"
                placeholder="Have a question? Just ask here or enter terms">
        </div>
    </header>
    <div class="conatiner m-auto">
        <h2 class="m-top-t m-bottom-t">Find your answer by subject</h2>
        <div class="items m-auto">
            <div class="item m-top-d p-ri-le-t m-ri-le" style="margin-top: 35px;">
                <img src="/static/media/briefcase.png" alt="" class="icon">
                <h3 class="m-top-d">Installation</h3>
                <p class="content m-top-d m-bottom">Lorem ipsum dolor sit amet ipsum dolar sit met ipsum dolar sit</p>
            </div>
            <div class="item m-top-d p-ri-le-t m-ri-le" style="margin-top: 35px;">
                <img src="/static/media/briefcase.png" alt="" class="icon">
                <h3 class="m-top-d">Installation</h3>
                <p class="content m-top-d m-bottom">Lorem ipsum dolor sit amet ipsum dolar sit met ipsum dolar sit</p>
            </div>
            <div class="item m-top-d p-ri-le-t m-ri-le" style="margin-top: 35px;">
                <img src="/static/media/briefcase.png" alt="" class="icon">
                <h3 class="m-top-d">Installation</h3>
                <p class="content m-top-d m-bottom">Lorem ipsum dolor sit amet ipsum dolar sit met ipsum dolar sit</p>
            </div>
            <div class="item m-top-d p-ri-le-t m-ri-le" style="margin-top: 35px;">
                <img src="/static/media/briefcase.png" alt="" class="icon">
                <h3 class="m-top-d">Installation</h3>
                <p class="content m-top-d m-bottom">Lorem ipsum dolor sit amet ipsum dolar sit met ipsum dolar sit</p>
            </div>
            <div class="item m-top-d p-ri-le-t m-ri-le" style="margin-top: 35px;">
                <img src="/static/media/briefcase.png" alt="" class="icon">
                <h3 class="m-top-d">Installation</h3>
                <p class="content m-top-d m-bottom">Lorem ipsum dolor sit amet ipsum dolar sit met ipsum dolar sit</p>
            </div>
            <div class="item m-top-d p-ri-le-t m-ri-le" style="margin-top: 35px;">
                <img src="/static/media/briefcase.png" alt="" class="icon">
                <h3 class="m-top-d">Installation</h3>
                <p class="content m-top-d m-bottom">Lorem ipsum dolor sit amet ipsum dolar sit met ipsum dolar sit</p>
            </div>
            <div class="item m-top-d p-ri-le-t m-ri-le" style="margin-top: 35px;">
                <img src="/static/media/briefcase.png" alt="" class="icon">
                <h3 class="m-top-d">Installation</h3>
                <p class="content m-top-d m-bottom">Lorem ipsum dolor sit amet ipsum dolar sit met ipsum dolar sit</p>
            </div>
            <div class="item m-top-d p-ri-le-t m-ri-le" style="margin-top: 35px;">
                <img src="/static/media/briefcase.png" alt="" class="icon">
                <h3 class="m-top-d">Installation</h3>
                <p class="content m-top-d m-bottom">Lorem ipsum dolor sit amet ipsum dolar sit met ipsum dolar sit</p>
            </div>
            <div class="item m-top-d p-ri-le-t m-ri-le" style="margin-top: 35px;">
                <img src="/static/media/briefcase.png" alt="" class="icon">
                <h3 class="m-top-d">Installation</h3>
                <p class="content m-top-d m-bottom">Lorem ipsum dolor sit amet ipsum dolar sit met ipsum dolar sit</p>
            </div>
            <div class="item m-top-d p-ri-le-t m-ri-le" style="margin-top: 35px;">
                <img src="/static/media/briefcase.png" alt="" class="icon">
                <h3 class="m-top-d">Installation</h3>
                <p class="content m-top-d m-bottom">Lorem ipsum dolor sit amet ipsum dolar sit met ipsum dolar sit</p>
            </div>
            <div class="item m-top-d p-ri-le-t m-ri-le" style="margin-top: 35px;">
                <img src="/static/media/briefcase.png" alt="" class="icon">
                <h3 class="m-top-d">Installation</h3>
                <p class="content m-top-d m-bottom">Lorem ipsum dolor sit amet ipsum dolar sit met ipsum dolar sit</p>
            </div>
            <div class="item m-top-d p-ri-le-t m-ri-le" style="margin-top: 35px;">
                <img src="/static/media/briefcase.png" alt="" class="icon">
                <h3 class="m-top-d">Installation</h3>
                <p class="content m-top-d m-bottom">Lorem ipsum dolor sit amet ipsum dolar sit met ipsum dolar sit</p>
            </div>
        </div>
        <div class="contact m-to-bo-t p-to-bo-t">
            <h2>Didn’t find an answer to your question?</h2>
            <p class="m-to-bo-d">Musce libero nunc, dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt
            consequat quam.</p>
            <a href="/templates/contact.html">Contact</a>
        </div>
    </div>
    <footer>
        <p>Copyright © 2020 Designed and Developed by </p>
        <a href="#"> Developer Fahiran</a>
    </footer>
    <script src="/static/js/script.js"></script>
</body>

</html>